@model List<Course>



<link href="~/css/tabeldesign.css" rel="stylesheet" />
<link href="~/css/linkdesign.css" rel="stylesheet" />
<a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Create">Add new Course</a>

<table>

    <tr>
        <th>
            Course Name
        </th>
        <th>
            CourseCapcity
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (Course course in Model)
    {
        <tr>
            <td>
                @course.CourseName
            </td>
            <td>
                @course.CourseCapcity
            </td>
            <td>
                <a href="/Course/Delete/@course.TeacherId">X</a>
            </td>
        </tr>
    }


</table>
