
<link href="~/css/formdesigncss.css" rel="stylesheet" />

<div class="container">
<form action="Create" method="post">
    <div class="row">
        <div class="col-25">
            <label for="StudentName">Student Name</label>
        </div>
        <div class="col-75">
                <input type="text" id="StudentName" name="StudentName" placeholder="Your name..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="lname"> Age</label>
        </div>
        <div class="col-75">
                <input type="text" id="Age" name="StudentAge" placeholder="Your age  is..">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="IsActive">IsActive</label>
        </div>
        <div class="col-75">
                <input type="checkbox" value="True" id="isactive" name="IsActive" checked />
        </div>
    </div>
 
    <br>
    <div class="row">
        <input type="submit" value="save">
    </div>
</form>
</div>