@model List<Student>



<link href="~/css/tabeldesign.css" rel="stylesheet" />
<link href="~/css/linkdesign.css" rel="stylesheet" />
<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Create">Add new student</a>

<table>

    <tr>
        <th>
            Student Name
        </th>
        <th>
            student Age
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach(Student student in Model)
    {
        <tr>
            <td>
                @student.StudentName
            </td>
            <td>
                @student.StudentAge
            </td>
            <td>
                <a href="/Student/Delete/@student.StudentId">X</a>
            </td>
        </tr>
    }


</table>
