@model List<Teacher>



<link href="~/css/tabeldesign.css" rel="stylesheet" />
<link href="~/css/linkdesign.css" rel="stylesheet" />
<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Create">Add new student</a>

<table>

    <tr>
        <th>
            Teacher Name
        </th>
        <th>
            Teacher Age
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (Teacher teacher in Model)
    {
        <tr>
            <td>
                @teacher.TeacherName
            </td>
            <td>
                @teacher.TeacherAge
            </td>
            <td>
                <a href="/Teacher/Delete/@teacher.TeacherId">X</a>
            </td>
        </tr>
    }


</table>
